{% extends "./base.html" %}

{% block content %}
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/layer.js"></script>
    <link rel="stylesheet" href="//res.layui.com/layui/build/css/layui.css"  media="all">

        <div class="header">

            <h1 class="page-title">部门管理</h1>
                    <ul class="breadcrumb">
            <li><a href="/">首页</a> </li>


            <li class="active">部门管理</li>
                        <input class="layui-btn layui-btn-mini" type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回上一页">
        </ul>

        </div>
        <div class="main-content">

<div class="btn-toolbar list-toolbar">

 <form  role="form" method="post" action="{% url 'deptsearch-view' %}" style="float: left">
 {% csrf_token %}
    <input placeholder="搜索部门" type="text"  class="form-control" id="s" name="word"  style="width:200px;float: left;">

<button class="btn btn-primary" >搜 索</button>
</form>
<div style="float: right">


    <a href="{% url 'adddept-view' %}" class="btn btn-primary"><i class="fa fa-plus"></i> 添加新部门</a>

    <a href="{% url 'updept-view' %}" class="btn btn-default">导入数据</a>

    <input id="openexcelfile" type="file" name="openexcelfile" style="display: none;" />
    <a href="{% url 'xlwtdept-view' %}" class="btn btn-default">导出数据</a>
      <input id="yourinputname" type="file" name="yourinputname" value="上传" style="display: none;" />
    </div>
  <div class="btn-group">
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="30%">部门</th>
      <th  width="50%">上级部门</th>
        <th  width="20%">操作</th>
        <th>{{ deptload_url }}</th>

    </tr>
  </thead>
  <tbody>
  {% with obj_list as dept_list %}
  {% if dept_list %}
      {% for dept in dept_list %}
           <tr>
      <td><a href="/dept/{{ dept.id }}"> {{ dept.deptname }}</a></td>
      <td>{% if not dept.parentdept %}{{ "" }}{% else %}{{ dept.parentdept }}{% endif %}</td>

      <td>

          <a style="float: left" href="/dept/{{ dept.id }}"><i class="fa fa-pencil"></i></a>
           <form id="del_dept" action='/deldept/{{ dept.id }}/' method='post' onclick="return del_deptjs()">
     {% csrf_token %}

<input type='hidden' id='test' name='test'>
<a style="padding-left: 20px" href="#" type="checkbox"class="fa fa-trash-o"></a>
<span style="display:none" id='deptid'>{{ dept.deptname }}</span>
</form>
      </td>
    </tr>
      {% endfor %}


  {% endif %}
{% endwith %}
  </tbody>

</table>
<!--分页 -->

        {% if obj_list %}
            <div  style="position:absolute;bottom:0px;">
        {% include 'include/pagination.html' %}
            </div>
        {% endif %}


<div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">删除部门</h3>
        </div>
         <form  role="form" method="post" >
        <div class="modal-body">
            <p class="error-text"><i class="fa fa-warning modal-icon"></i>您确定要删除部门{{ dept.id }}<br>删除后无法恢复</p>
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-danger" data-dismiss="modal">Delete</button>
        </div></form>
      </div>
    </div>
</div>

</div>
<script>
function del_deptjs()
{
    var getid = document.getElementById("deptid").innerHTML;

    layer.confirm('确认删除部门：（'+getid+"）    吗？", {icon: 3, title:'警告:此部门下的所有员工也会被删除！'}, function(index){
  //do something
  $("#del_dept").submit();
  layer.close(index);
});





}
</script>


{% endblock %}